<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{
        background-image:url("https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F1xuG8%2FbtsGMHE4aYm%2FTEtlD5tq411xWAVkZSc3Hk%2Fimg.jpg");
        background-repeat : no-repeat 
        width: cover;

    }
    </style>
</head>
<body>
    <div class="navar">
        {% if request.user.is_authenticated %}
        <form action="{% url "accounts:logout" %}" method="POST" >
            {% csrf_token %}
            <button type="submit">로그아웃</button>
        </form>        
        {% else %}
        <a href="{% url "accounts:login" %}">로그인</a>
        <a href="{% url "accounts:signup" %}">회원가입</a>
        {% endif %}
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>